.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
ul{
    width: 100px;
    height: 500px;
    position: fixed;
}
.tab-left{
    width: 100px;
}
.tab-right{
    width: 20px;
}
.content{
    flex-grow: 1;
    height: 1220px;
    background-color: greenyellow;
}
li{
    width: 72px;
    height: 72px;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
ul li a{
    text-decoration: none;
    color: black;
}
ul li a i {
    font-size: 22px;
}

li:hover{

}